<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="interpolacion-componente">Interpolacion</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" routerLink="condicional-simple-componente">Condicional Siple</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" routerLink="cursos-cards">Cursos Cards</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" routerLink="multiple-evaluaciones">Evaluaciones multiples</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" routerLink="directivas-atributos">Revision de ngSttyle y ngClass</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" routerLink="tuberias">Pipes</a>
        </li>

      </ul>

    </div>
  </div>
</nav>
